@{
    Layout = null;
}

<!DOCTYPE html>

<div class="text-center">
    <h5>Database operations to INSERT record is successful</h5>
</div>

<div class="text-center">
    <h5>Results from Data inserted.</h5>
</div>

<div class="text-center">
        @ViewBag.StudentEnrolledForMaxCourses
</div>
<p></p>
<div class="text-center">
    @ViewBag.MaxEnrolledCourse
</div>
<p></p>
<div class="text-center">
    @ViewBag.MinEnrolledCourse
</div>
